__pycache__/
__init__.py
env/
*.png
*.mp4
./frames
8x_zoom_m12f*/
**/.claude
**/*.swp
*.txt
*.log
notebooks/.ipynb_checkpoints/
slurm-*.out
output_plots/
frames/
frame*/
todo_list.md
starforge_tools/
